<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" 
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-3.0.xsd">
		
	<mvc:annotation-driven />
	<mvc:resources mapping="/static/**" location="/static/" />
	<mvc:resources mapping="/favicon.ico" location="/static/favicon.ico" />
	
	<mvc:interceptors>
	    <bean class="org.springframework.web.servlet.mvc.WebContentInterceptor">
	        <property name="cacheMappings">
	        	<props>
	        		<prop key="/static/**">2592000</prop>
	        	</props>
	        </property>
	        <property name="useCacheControlNoStore" value="false"/>
	    </bean>
	</mvc:interceptors>

	
	<bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/WEB-INF/messages/messages" />
		<property name="cacheSeconds" value="0" />
	</bean>

	<bean id="velocityConfig" class="org.springframework.web.servlet.view.velocity.VelocityConfigurer">
		<property name="resourceLoaderPath" value="/WEB-INF/views/" />
		<property name="velocityProperties">
			<props>
				<prop key="input.encoding">UTF-8</prop>
				<prop key="output.encoding">UTF-8</prop>
			</props>
		</property>
	</bean>

	<bean id="viewResolver" class="org.springframework.web.servlet.view.velocity.VelocityViewResolver">
		<property name="cache" value="true" />
		<property name="prefix" value="" />
		<property name="suffix" value=".vm" />

		<property name="exposeSpringMacroHelpers" value="true" />
		<property name="toolboxConfigLocation" value="/org/kivawiki/toolbox.xml" />
		<property name="viewClass" value="org.kivawiki.velocitytools.VelocityToolboxView2" />
	</bean>
</beans>
	